@charset "utf-8";

body {
	font-family: serif;
}

main > p, section > p {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

ul {
	width: 95%;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
}

ul.underline > li {
	border-bottom: solid 1px rgb(192, 192, 192);
}

ul > li > a {
	width: 100%;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	display: inline-block;
}
