@charset "utf-8";

body {
	font-family: serif;
	-webkit-text-size-adjust: none; /* for iPhone */
	word-wrap: break-word; /* will be overflow-wrap */
}

@media screen and (min-width: 1024px) {
	body > main {
		width: 640px;
		margin-left: auto;
		margin-right: auto;
	}
}

h1 {
	font-size: x-large;
	padding-left: 0.25em;
	background-color: rgb(255, 194, 104);
	box-shadow: 0 2px 2px rgb(192, 192, 192);
}

h2 {
	font-size: large;
	padding-left: 0.25em;
	background-color: rgb(255, 234, 140);
	box-shadow: 0 2px 2px rgb(192, 192, 192);
}

a:hover {
	background-color: rgb(228, 238, 255);
}

ul {
	margin: 0;
	padding-left: 1em;
	padding-right: 1em;
	list-style-type: none;
}

ul > li > a {
	width: 100%;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	display: inline-block;
}

main > p, section > p {
	padding-left: 1em;
	padding-right: 1em;
}

footer > p {
	text-align: center;
	word-wrap: break-word;
}
