@charset "utf-8";

body {
	font-family: serif;
}

main > p, section > p {
	padding-left: 1em;
	padding-right: 1em;
}

ul {
	margin: 0;
	padding-left: 1em;
	padding-right: 1em;
	list-style-type: none;
}

ul > li > a {
	width: 100%;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	display: inline-block;
}
