@charset "utf-8";

ul {
	list-style: none;
	padding-left: 1em;
}

li.spring::before {
	content: "🌸 ";
}

li.summer::before {
	content: "🌻 ";
}

li.autumn::before {
	content: "🍁 ";
}

li.winter::before {
	content: "❄️ ";
}
